<app-arcgis-map (checked)="getPublishtime()"></app-arcgis-map>
<!-- 弹出框 -->
<div class="popover" [ngStyle]="popoverStyle" *ngIf="showPop">
    <h3 class="header">
        <div class="list">
            <ng-container *ngFor="let item of server.elements">
                <span [ngClass]="{'active': item.active}" (click)="changeLayer(item)" *ngIf="item.hasChartKey">{{item.name}}</span>
            </ng-container>
        </div>
        <span class="icon-close" (click)="closePop()"><i nz-icon nzType="close" nzTheme="outline"></i></span>
    </h3>
    <div class="pop-content">
        <div nz-row nzGutter="0">
            <div nz-col nzSpan="24" nzOffset="0" style="font-weight: 500;">
                <span class="title">{{selectedPoly.name}}-{{selectedType.name}}预报</span>
                <span class="unit">{{selectedType.seriesRightName}}(单位：{{selectedType.unit}})</span>
            </div>
            <div nz-col nzSpan="24" nzOffset="0">
                <app-echarts [chartOption]='chartData'></app-echarts>
            </div>
            <div nz-col nzSpan="24" nzOffset="0" *ngIf="selectedType.name=='潮位'">
                <nz-table #basicTable nzVirtualScroll [nzVirtualItemSize]="54" [nzData]="tideList"
                    [nzVirtualForTrackBy]="trackByIndex" nzSize="small" [nzFrontPagination]="false"
                    [nzShowPagination]="false" nzBordered="true" [nzScroll]="{ x: '0px', y: '140px' }" [nzLoading]="loading">
                    <thead>
                        <tr>
                            <th nzWidth="128px">日期</th>
                            <th nzWidth="128px">第一高潮位</th>
                            <th nzWidth="128px">第二高潮位</th>
                            <th nzWidth="128px">第一低潮位</th>
                            <th nzWidth="128px">第二低潮位</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template nz-virtual-scroll let-data let-index="index">
                            <tr *ngFor="let data of basicTable.data">
                                <td nzWidth="128px">{{ data.CHROTIME }}</td>
                                <td nzWidth="128px">{{data.TIDEHTIME1}} {{data.TIDEH1}}m</td>
                                <td nzWidth="128px">{{data.TIDEHTIME2}} {{data.TIDEH2}}m</td>
                                <td nzWidth="128px">{{data.TIDELTIME1}} {{data.TIDEL1}}m</td>
                                <td nzWidth="128px">{{data.TIDELTIME1}} {{data.TIDEL2}}m</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>