.container{
    .category-wrap{
        padding: 20px 0;
        text-align: right;
        button{
            margin-left: 10px;
            box-shadow: rgba(0,29,144,0.25) 0 5px 10px;
            border: none;
            padding:5px 21px;
            border-radius: 15px;
            &.ant-btn-primary{
                background: linear-gradient(to right,#209CFE,#36B8FE); 
                box-shadow: #209CFE 0 2px 8px;
            }
            &:hover{
                opacity: 0.9;
            }
        }
    }
    .searchBtn{
        box-shadow: rgba(0,29,144,0.25) 0 5px 10px;
        border: none;
        padding:5px 13px;
        border-radius: 6px;
        &.ant-btn-primary{
            background: linear-gradient(to right,#209CFE,#36B8FE); 
            box-shadow: #209CFE 0 2px 2px;
        }
        &:hover{
            opacity: 0.9;
        }
    }
    .video-list{
        margin-top: 20px;
        .video-wrapper{
            border-radius: 6px 6px 0 0;
            padding: 0;
            background-color: #fff;
        }
        .video-thumb{
            position: relative;
            width: 100%;
            height: 183px;
            border-radius: 6px 6px 0 0;
            cursor: pointer;
            &.pinghu{
                background: url('../../../assets/images/video-thumb-pinghu.jpg') no-repeat center;
                background-size: cover;
            }
            &.haiyan{
                background: url('../../../assets/images/video-thumb-haiyan.jpg') no-repeat center;
                background-size: cover;
            }
            &:hover{
                opacity: 0.9;
            }
            &:after{
                content: '';
                position: absolute;
                width: 27px;
                height: 33px;
                left: 50%;
                top: 50%;
                margin-left: -14px;
                margin-top: -17px;
                background: url('../../../assets/images/video-icon.png') no-repeat center;
                background-size: contain;
            }
        }
        .video-title{
            padding: 10px;
            float: left;
            width: 100%;
            background-color: #fff;
            border-radius: 0 0 6px 6px;
            cursor: pointer;
            .name{
                font-size: 13px;
                float: left;
            }
            .date{
                font-size: 12px;
                line-height: 21px;
                float: right;
            }
        }
    }
}